<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @events.size %> Events</h1>
    <ul>
      <% @events.each do |event| %>
      <li><%= event %></li>
      <% end %>
    </ul>
  </body>
</html>
