<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Events</h1>

    Listing generated at <%= @time %>
      <ul>
        <li>BugSmash</li>
        <li>Hackathom</li>
        <li>Kata Camp</li>
      </ul>
  </body>
</html>
